@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.titre {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

/* =========== voitures ============ */
.nosvoitures {
    text-align: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

.div_voitures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
.div_voiture {
    width: 400px;
    height: 600px;
    border: 1px solid lightcyan;
    margin: 10px;
}

.div_image {
    width: 100%;
    height: 60%;
}

.div_image img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");

.marque {
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    padding: 10px 0;
    font-family: "Montserrat", sans-serif;
}

.marques_title {
    font-family: "Montserrat", sans-serif;
}

.div_details {
    padding: 5px;
    /* font-family: "Cairo", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

.div_details .prix {
    font-size: 20px;
    padding-top: 5px;
}

.div_button {
    margin-top: 8px;
    text-align: center;
}

.div_button .modifier {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.div_button .modifier:hover {
    background-color: dodgerblue;
    cursor: pointer;
    transition: 1.5s;
}

.modifier:not(:hover) {
    transition: 0.5s;
}

.div_button .supprimer {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
}

.div_button .supprimer:hover {
    background-color: red;
    cursor: pointer;
    transition: 1.5s;
}

.supprimer:not(:hover) {
    transition: 0.5s;
}

/* ================================ */

.suppression {
    color: green;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.erreursupprimer {
    color: red;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.failed {
    color: red;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
