@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::-webkit-scrollbar {
    display: none;
}

.div_inscription {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
}

.form_inscription {
    padding: 50px 0;
}

.form_inscription a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.form_title {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

/* ============= div form ============== */

.form_inscription div {
    text-align: start;
}

.input_inscription {
    padding: 9px;
    border: 0.2px solid lightgrey;
    margin-top: 10px;
    width: 600px;
    border-radius: 3px;
}

.input_inscription:focus {
    border: 1px solid black;
}

.input_inscription::placeholder {
    font-family: "Montserrat", sans-serif;
    opacity: 1;
}

.form_inscription {
    font-family: "Montserrat", sans-serif;
}
/* =========================================== */

/* ============= signin input ============== */

.signin {
    color: white;
    border: 1px solid dodgerblue;
    background: linear-gradient(to left, dodgerblue 50%, rgb(97, 255, 97) 50%)
        right;
    background-size: 200%;
    padding: 9px;
    transition: 2s ease-out;
    width: 619px;
    border-radius: 3px;
    margin-top: 10px;
}

.signin:hover {
    transition: 0.9s;
    color: black;
    cursor: pointer;
    background-position: left;
}

.signin:not(:hover) {
    transition: 0.9s;
}

/* =================================== */

.erreur {
    color: red;
}
